---
---
<section class="theatre-hero">
    <div class="container">
        <h1 class="page-title">
            Репертуар
        </h1>
        <p class="text-xl text-center max-w-2xl mx-auto">
            Камерный зал, где каждый зритель — участник волшебства. <br>
            Спектакли для детей от 3 до 99 лет.
        </p>
    </div>
</section>
